<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.company.dao.DateDao">
	<insert id="insertcourse" parameterType="DateCourseDto">
		insert into
		datecourse(dno,cnum,mno,fno) values(#{dno},#{cnum},#{mno},#{fno})
	</insert>
	<insert id="insertlist" parameterType="DateDto">
		insert into
		datelist(uno,dtitle) values(#{uno},#{dtitle})
	</insert>
	<update id="updatecourse" parameterType="DateCourseDto">
		update datecourse set course=course+1 where dno=#{dno};
	</update>

	<select id="readFran" parameterType="int"
		resultType="FranchiseDto">
		select * from 
		franchise f left join subway s 
		on f.mno=s.mno
		where fno=#{fno};
	</select>
	<select id="maxDno" resultType="DateDto">
		select dno from datelist order by dno desc limit 1;
	</select>

	<delete id="deletecourse" parameterType="DateCourseDto">
		delete from datecourse where cno=#{cno} and dno=#{dno}
	</delete>	
	<delete id="deletelist" parameterType="DateDto">
		delete from datelist where dno=#{dno};
	</delete>
	<select id="readCourse" parameterType="DateCourseDto" resultType="DateCourseDto">
		SELECT f.fno, f.fname, f.mno, f.cost, f.address,
		f.content, dc.dno, dc.cno, s.mname
		FROM franchise f JOIN datecourse dc ON f.fno = dc.fno JOIN subway s 
		ON f.mno = s.mno
		where f.fno=#{fno} and dno=#{dno};
	</select>
		<select id="course" parameterType="DateCourseDto" resultType="DateCourseDto">
		SELECT f.fno, f.fname, f.mno, f.cost, f.address,
		f.content, dc.dno, dc.cno, s.mname
		FROM franchise f JOIN datecourse dc ON f.fno = dc.fno JOIN subway s 
		ON f.mno = s.mno
		where dno=#{dno};
	</select>
	<select id="readAll" parameterType="DateDto"
		resultType="java.util.HashMap">
		select * from ${table}
	</select>
	<select id="readfranchise" parameterType="FranchiseDto"
		resultType="FranchiseDto">
		select * from franchise f left join category c on f.cnum = c.cnum left join
		subway s on f.mno = s.mno where f.cnum=#{cnum} and f.mno=#{mno};
	</select>
	<select id="readlist" parameterType="DateDto"
		resultType="DateDto">
		select * from datelist where mno=#{mno}
	</select>
</mapper>